[MASTER]

ignore=count.py

# It appears that if ignore-patterns has a trailing comma,
#   pytest will not run pylint
ignore-patterns=test_settings.*\.py,
    debug_settings.*\.py,
    example.*\.py,
    random_setings.*\.py

[MESSAGES CONTROL]

disable=too-many-instance-attributes,
    too-many-ancestors,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-return-statements,
    too-few-public-methods,
    too-many-public-methods,
    too-many-arguments,
    too-many-nested-blocks,
    missing-function-docstring,
    duplicate-code,
    too-many-lines,
    fixme,
    eval-used,
    undefined-loop-variable,
    no-member,
# Delete eventually:
    missing-class-docstring,
    missing-module-docstring,
    line-too-long,
# Delete unsubscriptable-object when typing.Union bug is fixed in pylintrc
    unsubscriptable-object,
# This fails on isinstance(foo, typing.Sequence)
# INTERNET_TODO look this up
    isinstance-second-argument-not-valid-type,


[BASIC]
good-names=
    x,
    y,
    f,
    i,
    j,
    m,
    n,
    er,
    mf,
    pc,
    fc,
    no,
    ic,
    op
